$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

@mixin flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin width-height{
    width: 100%;
    height: 100%;
}
@mixin width-height-block{
    width: 50%;
    height: 100%;
}


*{
    font-family: $font
}

.main__container{
    @include width-height();
    .about__container{
        @include flex();
        @include width-height();
        padding: 120px 0px 0px 0px;
        .about__container-item{
            text-align: center;
            width: 1300px;
            height: 100%;
            .company-desc__container{
                width: 100%;
                height: 45%;
                .company-desc__row{
                    display: flex;
                    flex-direction: row;
                    @include width-height();
                    padding: 20px 10px ;
                    .company-desc__text-box{
                        font-size: 20px;
                        text-align: left;
                        @include width-height-block();
                    }
                    .company-desc__img-box{
                        @include width-height-block();
                    }
                }
            }
        }
    }
}