$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$mobile: 380px;
$tablet: 768px;

@mixin flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin width-height(){
    width: 100%;
    height: 100%;
}

*{
    font-family: $font;
}

h2{
    @media screen and (max-width: $tablet){
        font-size: 40px;
    }; 
    @media screen and (max-width: $mobile){
        font-size: 32px;
    }; 
}
h3{
    @media screen and (max-width: $mobile){
        font-size: 32px;
    }; 
}

.main__container{
    @include width-height();
    .delivery-item{
        display: flex;
        justify-content: center;
        @include width-height();
        padding: 120px 0px 0px;
        .delivery-item__text{
            @media screen and (max-width: $mobile){
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }; 
            font-size: 30px;
            font-family: $font;
            text-align: center;
            width: 1300px;
            .delivery-item__description{
                @media screen and (max-width: $tablet){
                    width: $tablet;
                    text-align: center;
                    font-size: 18px;
                }; 
                @media screen and (max-width: $mobile){
                    width: 370px;
                    text-align: center;
                    background-color: red;
                    border-radius: 20px;
                    font-size: 16px;
                    color: whitesmoke;
                }; 
                text-align: left;
                font-size: 20px;
                width: 70%; 
                p{
                    @media screen and (max-width: $mobile){
                        padding: 5px 10px ;
                    }; 
                };
            }
            .payment-metods{
                display: flex;
                justify-content: center;
                width: 100%;
                height: 300px;
                @media screen and (max-width: $mobile){
                    height: 100%;
                }; 
                .payment-metods__row{
                    @media screen and (max-width: $tablet){
                        height: 100%;
                    }; 
                    @media screen and (max-width: $mobile){
                        height: 100%;
                    }; 
                    display: flex;
                    flex-direction: row;
                    width: 80%;
                    gap: 2px;
                    height: 80%;
                    .payment-metods__item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 20px 10px ;
                        width: 50%;
                        height: 100%;
                        border: 0.5px solid grey;
                        box-sizing: border-box;
                        .payment-metods__item-title{
                            @media screen and (max-width: $tablet){
                                font-size: 18px;
                            };
                            @media screen and (max-width: $mobile){
                                font-size: 16px;
                            }; 
                            padding: 20px 0;
                            font-size: 20px;
                        }
                        .payment-metods__item-text{
                            @media screen and (max-width: $tablet){
                                font-size: 18px;
                                width: 80%;
                            }; 
                            @media screen and (max-width: $mobile){
                                font-size: 16px;
                                width: 80%;
                            }; 
                            width: 60%;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

