$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$mobile: 380px;
$tablet: 768px;

@mixin flex(){
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin width-height(){
    width: 100%;
    height: 100%;
}

*{
    font-family: $font;
}

.h1{
    @media screen and (max-width: $tablet){
        font-size: 40px;
    }; 
    color: red;
    font-size: 45px;
    @media screen and (max-width: $mobile){
        font-size: 30px;
    }; 
}
.link{
    @media screen and (max-width: $mobile){
        color: whitesmoke
    }; 
}
.grayscale{
    @media screen and (max-width: $mobile){
        filter: invert(1);
    }; 
}

.main__container{
    @include width-height();
    .contact__container{
        @include flex();
        @include width-height();
        padding: 120px 0px 0px 0px;
        .contact__container-item{
            @media screen and (max-width: $tablet){
                width: $tablet;
            };
            @media screen and (max-width: $mobile){
                width: $mobile;
            }; 
            text-align: center;
            width: 1300px;
            height: 100%;
            .contact__description{
                @media screen and (max-width: $tablet){
                    width: 748px;
                }; 
                @media screen and (max-width: $mobile){
                    width: 360px;
                }; 
                display: flex;
                flex-direction: row;
                width: 100%;
                padding: 20px 10px;
                .description__text{
                    @media screen and (max-width: $tablet){
                        font-size: 18px;
                    }; 
                    @media screen and (max-width: $mobile){
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }; 
                    font-size: 20px;
                    text-align: left;
                    width: 50%;
                    .text-item{
                       padding: 20px 0px;
                       @media screen and (max-width: $mobile){
                       text-align: center;
                        background-color: red;
                        border-radius: 20px;
                        color: whitesmoke;
                    }; 
                    }
                }
                .description__image{
                    img{
                        @media screen and (max-width: $tablet){
                            width: 100%;
                        }; 
                    }
                    @media screen and (max-width: $mobile){
                        display: none;
                     }; 
                }
            }
        }
    }
}