$color-text: black;
$color-link: #8c8a86;
$color-hover: red;
$color-back: white;
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$mobile: 380px;
$tablet: 768px;

@mixin flex($align: center){
    display: flex;
    align-items: $align; 
    text-align: $align;
}
@mixin opacity () {
    visibility: hidden;
    opacity: 0;
}

*{
    font-family: $font;
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: $color-text;
}

.active{
    left: 0px !important;
    transition: left 1s ease-in;
}
.header__container{
    @media screen and (max-width: $mobile){
        width: $mobile;
    }; 
    @include flex();
    width: 1170px;
    .header__logo{ 
        width: 324px;
        height: 75px;
    };
    .menu__burger{
        display: none;
        @media screen and (max-width: $mobile){
            display: flex;
        }; 
        margin-left: 10px;
        width: 40px;
        height: 40px;
        .menu__span-item {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 38px;
            height: 38px;
            cursor: pointer;
            .menu__span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: red;
                transition: transform 0.5s ease-out;
            }
            &.close {
                .menu__span:nth-child(1) {
                    transform: translateY(19px) rotate(45deg);
                }
                .menu__span:nth-child(2) {
                    opacity: 0;
                }
                .menu__span:nth-child(3) {
                    transform: translateY(-6px) rotate(-45deg);
                }
            }
        }
        .menu__burger-item{
            transition: left 1s ease-in;
            display: flex;
            left: 380px;
            top: 120px;
            justify-content: center;
            position: absolute;
            align-items: center;
            background-color: red;
            width: $mobile;
            height: 500px;
            .burger__nav{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
                height: 80%;
                .burger__nav-navigation{
                    width: 100%;
                    height: 100%;
                    .burger__nav-navigation-ul{
                        display: flex;
                        flex-direction: column;
                        gap: 60px;
                        list-style: none;
                        padding: 0;
                    }
                }  
            }
        }
    }
}
.header__row{
    @media screen and (max-width: $mobile){
        display: none;
    }; 
    @include flex();
    flex-direction: row;
    width: 100%;
    height: 75px;
    .header__burger{
        text-align: center;
        width: 100%;
        .header__nav{
            box-sizing: border-box;
            .header__menu{
                position: relative;
                @include flex();
                padding: 0;
                list-style: none;
                text-align: center;
                margin-left: 5em;
                .first:hover{
                    .menu__submenu-first{
                        transition: all 0.3s ease-out;
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .menu__item{
                    font-size: 1.2em;
                    padding: 1em;
                    .menu__link:hover{
                        transition: color 0.3s;
                        color: $color-hover;
                    }
                }
            }
        }
    }
}
.header__basket{
    @media screen and (max-width: $mobile){
        display: none;
    }; 
    display: flex;
    flex-direction: row;
    gap: 30px;
    .basket__link{
        &:hover{
            transform: scale(1.2);
        }
    }
}
.menu__submenu-first{
    background-color: $color-back;
    @include opacity();
    width: 280px;
    height: 365px;
    position: absolute;
    top: 100%;
    padding: 10px 0px;
    border: 0.5px solid $color-link;
    border-radius: 10px;
    list-style: none;
    z-index: 2;
    .menu__item{
        box-sizing: border-box;
        padding: 16px;
    }
    .active{
        text-decoration: underline;
        &:hover{
            .menu__submenu-second{
                opacity: 1;
                visibility: visible;
                transition: all 0.3s ease-out;
            }
        }
    }
}
.menu__submenu-second{
    @include opacity();
    width: 330px;
    background-color: $color-back;
    border: 0.5px solid $color-link;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 100%;
    list-style: none;
    padding: 10px 0px;
}
.lvl2{
    top: 20%;
}
.lvl3{
    top: 40%;
}
.lvl4{
    top: 60%;
}
.lvl5{
    top: 80%;
}